---
---

@import "{{ site.theme }}";


a {
    color:#0A5;
    text-decoration:none;
}

a:hover, a:focus {
    color:#052;
    font-weight: bold;
}

a small {
    font-size:11px;
    color:#777;
    margin-top:-0.3em;
    display:block;
}

a:hover small {
    color:#777;
}

h1 {
    font-family: 'Roboto Mono';
}